body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;/* pour défiler */

}



nav {    
    padding: 10px 0;
    background-color: #333;
    text-align: center;
}
nav ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    margin-right: 20px;
}
nav a {
    
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
nav ul li a:hover {
    background-color:#c49b9b ;
    border-radius: 10px;
    padding: 10px;
}
/* Appliquer le style aux sections */
section {
    padding: 50px 0;
    text-align: center;
    min-height: 100vh;
}
section h1 {
    font-size: 32px;
    margin-bottom: 20px;
}
section p {
    font-size: 18px;
    min-height: 100vh;
}
#accueil{
    background-color: #f4f4f4;
}

#a-propos {
    background-color: #e2e2e2;
}

#services {
    background-color: #cccccc;
}

#contact {
    background-color: #b2b2b2;
}